/* * {
    outline: 1px solid red;
} */

header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    background-color: #34975A;
}

h1 {
    font-weight: bold;
    font-size: 50px;
}

main {
    display: flex;
    flex-direction: row;
}

.left-col {
    width: 20%;
}

.right-col {
    width: 80%;
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.city-search {
    font-weight: bold;
    font-size: 30px;
}

.search-btn {
    /* background-color: rgb(85, 129, 187); */
    margin-top: 10px;
    font-weight: bold;
}

.city-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.city-list button {
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(185, 185, 185);
}

/* right side */

.right-col {
    padding: 20px;
}

.current-weather {
    border: solid 1px black;
    padding: 10px;
    margin-bottom: 25px;
}

#current-city {
    font-weight: bold;
}

#current-temp, #current-wind, #current-humidity {
    font-size: 20px;
}

.forecast-weather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.card {
    width: 18%;
    background-color: #53F190;
}

.card-header {
    font-weight: bold;
    font-size: 25px;
}

.list-group-item {
    background-color: #49D37E;
    font-size: 18px;
}